.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid var(--secondary-background-color-rgb-dark);
    border-radius: 10px;
}

.contact-form input {
    border-radius: 10px;
    background-color: inherit;
}

.contact-form textarea {
    border-radius: 10px;
    background-color: inherit;
}