.contact-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid var(--secondary-background-color-rgb-dark);
    border-radius: 10px;
}

.contact-form label {
    text-align: center;
}

.contact-form input {
    color: var(--secondary-color-dark);
    border: 1px solid var(--secondary-background-color-rgb-dark);
    border-radius: 10px;
    background-color: inherit;
    margin: 1rem;
    padding: 0.5rem 1rem;
}

.contact-form input:focus-visible {
    color: var(--navigation-background-color-dark);
    outline-style: groove;
    background-color: var(--secondary-color-dark);
    outline-color: var(--bg-lines-color-dark);
    box-shadow: 0px 0px 10px var(--secondary-color-dark);
}

.contact-form textarea {
    color: var(--secondary-color-dark);
    border-radius: 10px;
    background-color: inherit;
    padding: 1rem;
    margin: 1rem;
}

.contact-form textarea:focus-visible {
    color: var(--navigation-background-color-dark);
    outline-style: groove;
    background-color: var(--secondary-color-dark);
    outline-color: var(--bg-lines-color-dark);
    box-shadow: 0px 0px 10px var(--secondary-color-dark);
}