.portfolio-cards {
	display: flex;
	padding: 0.5em;
	background-color: #fff;
	color: #000;
	border-radius: 10px;
	box-shadow: 10px 10px 10px rgba(0,0,0,.3);
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: .8;
	margin: 5px auto;
	width: 100%;
	border-radius: 10px;
	transition: flex-grow .8s;
	overflow: hidden;
	cursor: pointer;
}

.portfolio-btn {
	width: 100%;
	padding: 0.5rem;
	margin: 5px;
}