.card {
	position: relative;
	flex-grow: .8;
	height: 600px;
	margin: 4px;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
	transition: flex-grow .8s;
	overflow: hidden;
	cursor: pointer;
}

.card::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	transition: opacity .5s;
}