.itemBox {
  flex: 1;
  opacity: 1;
  animation: showItems 1s ease-in;
  animation-fill-mode: forwards;
}

.textBox {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.textBox h3,
.textBox p {
  padding: 0 1rem;
}

.links {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.marginLink {
  margin: 0 1rem;
}

.description {
  margin-top: 1rem;
}

.description h4 {
  padding-left: 1rem;
}

.description p {
  font-weight: 200;
}

.topicBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
}

.topic {
  display: inline-flex;
  width: fit-content;
  background-color: var(--border-color-dark);
  padding: 0.25rem 0.75rem;
  margin: .5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--paragraph-color-dark);
  opacity: 0.90;
}

@keyframes showItems {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .itemBox {
    flex-direction: column;
    margin: 0 auto;
  }
  .textBox {
    text-align: center;
    padding-top: 2rem;
    padding-left: 0;
    margin: auto;
  }
  .links {
    margin: 1rem auto;
  }
  .topicBox {
    justify-content: center;
  }
  .description h4 {
    padding-left: 0;
  }
}
